<ion-pane>
<ion-content class="has-header" overflow-scroll="false" has-bouncing="true">
    
    <div class="padding">
              
              <div class="padding">
                  
                  <div >
                  <p>
                      <h1 class="logo_name animated fadeInLeft">Project Done By :- </h1>
                  <p>
                  <p>
                      <h3 class="logo_name animated fadeIn">Shubh Patil</h3>
                  <p>
                  <p>
                      <h3 class="logo_name animated fadeIn">Pooja Singh</h3>
                  <p>
                  <p>
                      <h3 class="logo_name animated fadeIn">Snehal Patil</h3>
                  <p>
                  <p>
                      <h3 class="logo_name animated fadeIn">Rajashree Sawant</h3>
                  <p>
                      </div>
          </div>
        </div>
    
</ion-content>
</ion-pane>