<ion-pane>
    
<ion-content class="has-header has-footer" overflow-scroll="false" has-bouncing="true">
    
    <div class="padding">

                  
                  <div style="text-align:center;">
                      <img class="login_logo" src="img/logo2.png">
                  </div>
                  
                  <div>
                      <h2 class="logo_name animated fadeInLeft">Wecome To V-Chat !!!</h2>
                      <h5 class="logo_name animated fadeInLeft">POWERED BY Firebase</h5>
                  </div>
                  <div class="padding">
                      <h3 class="logo_name">Happy Chatting <i class="icon ion-happy-outline"></i></h3>
                  </div>

    </div>
    
</ion-content>
    
</ion-pane>